<%= div_for comment do %>
    <p>
      <strong>
        Posted <%= time_ago_in_words(comment.created_at, include_seconds: true) %> ago by <%= User.find(comment.user_id).email %>
      </strong>
      <br/>
      <%= comment.body %>
    </p>
<% end %>