<div class="container">
  <h1 class="text-center alert">Find video by hashtag in description</h1>
  <div class="row">
    <div class="col-xs-12 text-center">
      <% @hashtags.each do |hashtag| %>
          <%= link_to hashtag.name, hashtag_path(hashtag.name) , :class => "btn btn-default"%>
      <% end %>
    </div>
  </div>
</div>
